@import url('https://fonts.googleapis.com/css2?family=Public+Sans:wght@400;500;600;700;800;900&display=swap');
@import "tailwindcss";

@layer base {
  body {
    min-height: max(884px, 100dvh);
    font-family: "Public Sans", sans-serif;
    -webkit-font-smoothing: antialiased;
  }
}

@layer utilities {
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }

  .no-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }

  .pb-safe {
    padding-bottom: env(safe-area-inset-bottom);
  }
}